<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td{
            border: solid black;
            }

    </style>
</head>
<body>
<h1>The head, tbody, and tfoot elements</h1>
<table>
    <tr>
        <th>Month</th>
        <th>Savings</th>
    </tr>
    </thead>
    <tbody style="color:blue;background-color:bisque">
    <tr>
        <td>January</td>
        <td>$100</td>
    </tr>
    <tr>
        <td>April</td>
        <td>$200</td>
    </tr>
    <tr>
        <td>March</td>
        <td>$300</td>
    </tr>
    <tr>
        <td>September</td>
        <td>$500</td>
    </tr>
    <tr>
        <td>October</td>
        <td>$1000</td>
    </tr>
    </tbody>
</table>
</body>
</html>
