<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>HR</title>
</head>
<body>
<table border="1">
    <thead style="color:red;">
    <th>Id</th>
    <th>Company Name</th>
    <th>City</th>
    </thead>
<tbody style="background-color:LightGray;" >

<tr th:each="hr1: ${HR}">
    <td th:text="${hr1.id}"/>
    <td th:text="${hr1.companyName}"/>
    <td th:text="${hr1.locatedCity}"/>

</tr>
</tbody>
</table>
</body>
</html>